html {
  font-size: 15px;
  background: url('./background.png') bottom center;
  background-size: cover;

}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100wh;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.key {
  min-height: 120px;
  border: .4rem solid rgb(0, 18, 39);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  justify-content: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #00e1ff;
  box-shadow: 0 0 1rem #00e1ff;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00e1ff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {  
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

a{
  text-decoration-line: none;
  text-shadow: 3px 3px #49d1ca;
  color:rgb(255, 155, 6);
}
